div#items{
	background-color:#F52C2C;
	text-align: center;
	font-family: "Comic Sans MS";
	float:left;
	width:50%;
}

div#buy{
	background-color:#33BDBA;
	text-align: center; 
	font-family: "Comic Sans MS";
	float:right; 
	width:50%;

}

}
#button{
	height:100px;
}
#button:hover{
	height:150px;
}
ul{
	list-style-type: none;
}
